<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/repositories"></ion-back-button>
    </ion-buttons>
    <ion-title>Total de PR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment color="dark" [formControl]="typeCtrl">
    <ion-segment-button value="challenge" layout="icon-start">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Retos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="project" layout="icon-start">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Proyectos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="class" layout="icon-start">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-badge slot="start" color="primary">{{ hightLevel }}</ion-badge>
        > 70 (CR {{ crHightLevel }}%)
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-badge slot="start" color="warning">{{ mediumLevel }}</ion-badge>
        > 40 - 69 (CR {{ crMediumLevel }}%)
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-badge slot="start" color="danger">{{ lowLevel }}</ion-badge>
        < 0 - 39 (CR {{ crLowLevel }}%)
      </ion-item>
    </ion-col>
  </ion-row>
  <h5 class="ion-padding">Total: {{total}}</h5>
  <ngx-charts-bar-horizontal
  *ngIf="data"
  [view]="view"
  [customColors]="customColors"
  [results]="data"
  [xAxis]="true"
  [yAxis]="true"
  (select)="select($event)">
</ngx-charts-bar-horizontal>
</ion-content>
