<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Platzi Challenges
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterModal()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="dark" [formControl]="typeCtrl">
    <ion-segment-button value="challenge" layout="icon-start">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Retos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="project" layout="icon-start">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Proyectos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="class" layout="icon-start">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="response">
    <ion-item *ngIf="response.edges.length === 0">
      No se encontró nada
    </ion-item>
    <ion-item
      [routerLink]="['/repo', 'PlatziMaster', repo.node.name]"
      target="_blank"
      *ngFor="let repo of response.edges"
    >
      <ion-icon slot="start" [name]="repo.node.icon"></ion-icon>
      <ion-label>
        <h2>{{ repo.node.name }}</h2>
        <p>{{ repo.node.description }}</p>
        <p>Curso: {{ repo.node.homepageUrl }}</p>
      </ion-label>
      <ion-chip
        slot="end"
        *ngIf="repo.node.level"
        [color]="repo.node.level.color"
        >{{ repo.node.level.name }}</ion-chip
      >
    </ion-item>
  </ion-list>
</ion-content>
