<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu side="start" menuId="menu" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-item autoHide="true" routerLink="/repositories">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              Home
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item autoHide="true" routerLink="/stats">
              <ion-icon name="bar-chart" slot="start"></ion-icon>
              Total de PR
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item autoHide="true" routerLink="/tutorial">
              <ion-icon name="help-outline" slot="start"></ion-icon>
              ¿Cómo funciona?
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-item (click)="installByUser()" *ngIf="installEvent">
          <ion-icon name="logo-pwa" slot="start"></ion-icon>
          Instalar
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Salir
        </ion-item>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

