<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Filtros
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onFilter($event)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Lenguaje</ion-label>
        <ion-select placeholder="Selecciona uno" formControlName="language" interface="popover">
          <ion-select-option value="all">Todos</ion-select-option>
          <ion-select-option value="JavaScript">JavaScript</ion-select-option>
          <ion-select-option value="HTML">HTML</ion-select-option>
          <ion-select-option value="Python">Python</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tema</ion-label>
        <ion-select placeholder="Selecciona uno" formControlName="topic" interface="popover">
          <ion-select-option value="all">Todos</ion-select-option>
          <ion-select-option value="arrays">Arrays</ion-select-option>
          <ion-select-option value="HTML">HTML</ion-select-option>
          <ion-select-option value="numbers">Numbers</ion-select-option>
          <ion-select-option value="jest">Jest</ion-select-option>
          <ion-select-option value="nodejs">NodeJs</ion-select-option>
          <ion-select-option value="maths">Maths</ion-select-option>
          <ion-select-option value="react">React</ion-select-option>
          <ion-select-option value="angular">Angular</ion-select-option>
          <ion-select-option value="ionic">Ionic</ion-select-option>
          <ion-select-option value="css">CSS</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nivel</ion-label>
        <ion-select placeholder="Selecciona uno" formControlName="level" interface="popover">
          <ion-select-option value="all">Todos</ion-select-option>
          <ion-select-option value="low">Bajo</ion-select-option>
          <ion-select-option value="medium">Medio</ion-select-option>
          <ion-select-option value="high">Alto</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="onFilter($event)">
    <ion-icon slot="start" name="filter-outline"></ion-icon>
    Buscar
  </ion-button>
</ion-footer>
