<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Platzi Challenges
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterModal()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="response">
    <ion-item *ngIf="response.edges.length === 0">
      No se encontró nada
    </ion-item>
    <ion-item *ngIf="response.edges.length">
      <ion-label><h1>Repositorios</h1></ion-label>
      <ion-badge slot="end">{{ response.edges.length }}</ion-badge>
    </ion-item>
    <ion-item
      [href]="repo.node.url"
      target="_blank"
      *ngFor="let repo of response.edges"
    >
      <ion-icon slot="start" [name]="repo.node.icon"></ion-icon>
      <ion-label>
        <h2>{{ repo.node.name }}</h2>
        <p>{{ repo.node.description }}</p>
        <p>Curso: {{ repo.node.homepageUrl }}</p>
      </ion-label>
      <ion-chip
        slot="end"
        *ngIf="repo.node.level"
        [color]="repo.node.level.color"
        >{{ repo.node.level.name }}</ion-chip
      >
    </ion-item>
  </ion-list>
</ion-content>
