<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Platzi Challenges
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterModal()">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="response">
    <ion-item *ngIf="response.repositoryCount === 0">
      No se encontró nada
    </ion-item>
    <ion-item *ngIf="response.repositoryCount > 0">
      <ion-label><h1>Repositorios</h1></ion-label>
      <ion-badge slot="end">{{ response.repositoryCount }}</ion-badge>
    </ion-item>
    <ion-item [href]="repo.node.url" target="_blank" *ngFor="let repo of response.edges">
      <ion-label>
        <h2>{{ repo.node.name }}</h2>
        <p>{{ repo.node.description }}</p>
      </ion-label>
      <ion-chip
        slot="end"
        *ngIf="repo.node.level"
        [color]="repo.node.level.color"
        >{{ repo.node.level.name }}</ion-chip
      >
    </ion-item>
  </ion-list>
</ion-content>
